%%%===================================================================
%%% Cowbell - TEST CONFIGURATION FILE
%%%===================================================================

[

%% Cowbell config
    {cowbell, [

        %% retry interval for disconnected nodes (Default: 10)
        {retry_interval_sec, 1},

        %% abandon a node after unsuccessful reconnect (Default: 86400)
        {abandon_node_after_sec, 2},

        %% list of nodes to connect to and monitor
        {nodes, []}

    ]}

].
