%%%===================================================================
%%% Cowbell - TEST CONFIGURATION FILE
%%%===================================================================

[

%% Cowbell config
    {cowbell, [

        %% list of nodes to connect to and monitor
        {nodes, []}

    ]}

].
