%%%===================================================================
%%% Cowbell - TEST CONFIGURATION FILE
%%%===================================================================

[

%% Cowbell config
    {cowbell, [

        %% retry interval for disconnected nodes (Default: 10000)
        {retry_interval_ms, 1000},

        %% list of nodes to connect to and monitor
        {nodes, []}

    ]}

].
